/*.container {
    position: relative;
    border: 1px solid green;
    /*box-sizing: border-box;*/
     /*width: 300px;
  height: 100px;
  box-sizing: border-box;
}*/

a {
  text-decoration: none;
  color: #245F5F;
}

body {
  font-family: "Georgia";
  font-weight: normal; /**/
  color: #009097;
  background-image: url("victoria_background.gif");
  /*background-image: url("/Victoria's Journal/background.gif");*/ 
  background-repeat: repeat;
  margin-left: 10%;
  margin-right: 10%;
}

h1 {
  font-weight: normal;
  font-family: "Century Gothic";
  font-size: 2em;
}

#item0 {
  border: 5px solid green;
  background-color: white;
}
#item1 {
  border: 5px solid red;
  padding: 0.5mm;
}

#item2 {
  border: 5px solid orange;
}

#item3, #item5 {
  border: 5px solid blue;
  background-color: #E8FBFB;
  padding: 5px;
  margin-top: 10px;
}

/*#item4, #item6 {
  border: 5px solid purple;
  display: inline;
}*/

/*span {
  width: 300px;
}*/

span {
  border: 5px solid purple;
  display: inline;
}