body {
    background-color: #CCCCFF;
    font-family: sans-serif;
    font-size: 14pt;
    font-weight: bold;
}

.header {
    font-size: 32pt;
    text-align: center;
    margin: auto;
}

.center {
    margin: auto;
    width: 90%;
    height: 400px;

}

.animation-area {
    font-family: monospace;
    font-size: 12pt;
    width: auto; /**/
    height: auto; /**/

}
