* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #eeeeee;
}

.division-line {
    text-align: center;
    margin: 0 auto;
    max-width: 960px;
    margin: 20px;
}

.header {
    text-align: center;
    padding-top: 10px;
    /*border:1px solid blue;*/
    background-color: white;
}

.idProduct {
    background-color: white;
    /*border: 1px solid red;*/
}

.idProduct-inside {
    margin: 0 auto;
    max-width: 960px;
    /*display: block;*/
    /*border: 1px solid red;*/
    /*text-align: center;*/
    height: 200px; 
    background-color: white; 
    font-family: Arial, Helvetica, sans-serif; 
    font-style: normal;
}

.idProduct-inside .id-left {
    float: left;
    /*border: 1px solid blue;*/
    border-right: 1px solid black;
    width: 69%;
    margin-top: 30px;
    line-height: 50px;
}

.id-left h1, h2 {
    color: darkblue;
}

.idProduct-inside .id-right {
    float: right;
    /*border: 1px solid red;*/
    width: 30%;
    margin-top: 30px;
    line-height: 50px;
}

/*.id-right {
    font-style: normal;
    color: darkblue;
}*/

.id-right ul li {
    display: block;
}

.id-right ul li a {
    padding: 10px 20px;
    text-decoration: underline dotted darkblue;
    color: darkblue;
}

.text-content {
    margin: 0 auto;
    max-width: 960px;
    /*border: 1px solid green;*/
    height: 1300px; 
    background-color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*.text-content .title span {
    
}*/

.personal-info {
    margin: 0 auto;
    max-width: 912px;
    /*display: block;*/
    /*border: 1px solid red;*/
    /*text-align: center;*/
    height: 200px;
}

.personal-info .pi-left {
     float: left;
    /*border: 1px solid blue;*/
    width: 69%;
    margin: 0 auto;
    text-align: left;
}

.personal-info .pi-right {
    float: right;
    /*border: 1px solid red;*/
    width: 30%;
}

.pi-left .pi-left-left {
    float: left;
    width: 49%;
}

.pi-left .pi-left-right {
    float: right;
    width: 49%;
}

.pi-footer {
    margin: 0 auto;
    text-align: left;
    clear: both;
}

.pi-footer .pi-footer-left {
    float: left;
    width: 49%;
}
.pi-footer .pi-footer-right {
    float: right;
    width: 49%;
}


/*Contact Information*/
.contact-info {
    margin: 0 auto;
    max-width: 912px;
    text-align: left;
    height: 100px;
}

.contact-info .ci-left {
    float: left;
    width: 69%;
}

.contact-info .ci-left {
    float: right;
    width: 30%;
}

.ci-footer {
    margin: 0 auto;
    max-width: 912px;
    text-align: left;
}

.ci-footer .ci-left{
    float: left;
    width: 49%;
    
}

.ci-footer .ci-right {
    float: right;
    width: 49%;
}

/*Authorized User*/
.authorized-info {
    margin: 0 auto;
    max-width: 912px;
    text-align: left;
    /*height: 100px;*/
}

/*Employment Information*/
.employment-info {
    margin: 0 auto;
    max-width: 912px;
    text-align: left;
}

/*Finacial Information*/
.financial-info {
    margin: 0 auto;
    max-width: 912px;
    text-align: left;
    height: 150px;
}

.financial-info .fi-left {
    float: left;
    width: 49%;
}

.financial-info .fi-right {
    float: right;
    width: 49%;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}









