* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #eeeeee;
}

.header {
    text-align: center;
    padding-top: 10px;
    border:1px solid blue;
    background-color: white;
}

.idProduct {
    background-color: white;
    border: 1px solid red;
}

.idProduct-inside {
    margin: 0 auto;
    max-width: 1200px;
    /*display: block;*/
    border: 1px solid red;
    /*text-align: center;*/
    height: 200px; 
    background-color: white;  
}



