* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #eeeeee;
}

.header {
    text-align: center;
    padding-top: 10px;
    /*border:1px solid blue;*/
    background-color: white;
}

.idProduct {
    display: block;
    border: 1px solid red;
    margin: 0 auto;
    text-align: center;
    height: 200px;  
}

